<div class="carousel-container ">
  <div class="slides flex relative w-screen lg:w-3/4  mx-auto">
    <div
      class="slide fade reduce w-full  h-screen  rounded-md border ease-in-out delay-1000"
      #slides
      *ngFor="let slide of slides"
      (click)="activePhoto(slide)"
    >
      <img
        class="h-full w-full rounded-md object-cover"
        [src]="slide.src"
        alt=""
      />
    </div>
    <div class="controls">
      <button
        [disabled]="disablePrev"
        [ngClass]="{ 'bg-slate-300': disablePrev, 'bg-slate-400':!disablePrev }"
        class="prev absolute top-1/2 translate-y-[-50%] py-2 px-4 border left-0"
        (click)="controls('prev')"
      >
      &#10094;
      </button>
      <button
        [disabled]="disableNext"
        [ngClass]="{ 'bg-slate-300': disableNext, 'bg-slate-400':!disableNext }"
        class="next absolute top-1/2 translate-y-[-50%] py-2 px-4 border right-0"
        (click)="controls('next')"
      >
      &#10095;
      </button>
    </div>
  </div>
</div>

<app-modal *ngIf="photo">
  <h2 heading>{{photo.photographer}} h</h2>
  <div class="img  bg-pink-400"></div>
</app-modal>
